.panel-contentProfile {
    display: flex;
}

.avatar-frameProfile {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-left: 3rem;
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.avatarProfile {
    display : flex;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.account-infoProfile {
  margin-top: 3rem;
  margin-left: 3rem;
}

.account-nameProfile {
  font-size: 20px;
}

.account-idProfile {
  margin-top: -20px;
}

.edit-button {
    position: absolute;
    bottom: -10px; /* Смещение вниз относительно аватара */
    right: -50px; /* Смещение вправо относительно аватара */
    padding: 0.4rem 1rem;
    background: #808080;
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1; /* Чтобы кнопка была поверх изображения */
    transform: scale(0.9);
    transition: all 0.2s;
}

.edit-button:hover {
    transform: scale(1);
    background: #666666;
}

.save-button {
    margin-top: 0.5rem;
    position: fixed;
    right: 2rem;
    padding: 0.8rem 1.5rem;
    background: #808080;
    color: white;
    border: 2px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.save-button:hover {
    transform: scale(1.05);
    background: #666666;
}

.cancel-button {
    margin-top: 0.5rem;
    position: fixed;
    right: 15rem;
    padding: 0.8rem 1.5rem;
    background: #808080;
    color: white;
    border: 2px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.cancel-button:hover {
    transform: scale(1.05);
    background: #666666;
}